<div class="container">
<%= form_for(@user_prof) do |f| %>
	<p>アイコン</p>
	<%= f.label :user_prof_img %>
	<%= f.file_field :user_prof_img %>

	<p>name</p>
	<%= f.text_field :name %>

	<p>age</p>
	<%= f.number_field :age %>

	<p>gender</p>
	<%= f.number_field :gender %>

	<p>自己紹介</p>
	<%= f.text_field :introduction %>
	<%= f.submit "保存" %>
<% end %>
</div>
