<p>name</p>
<h3><%= @user_prof.name %></h3>
<p>age</p>
<h3><%= @user_prof.age %></h3>
<p>gender</p>
<h3><%= @user_prof.gender %></h3>
<p>introduction</p>
<h3><%= @user_prof.introduction %></h3>

<%= link_to joins_user_prof_path(@user_prof) do %>
  <div class="text">参加勉強会一覧</div>
  <div class="num"><%= @user_prof.joins.count %></div>
<% end %>

<p>このユーザーの開催イベント</p>
<% @user_prof.events.each do |event| %>
  <h2>
    <%= link_to event.title, event_path(event.id) %>
  </h2>
  <div class="post-body">
    <%= event.body %>
  </div>
<% end %>
