<% if notice %>
	<p><%= notice %></p>
<% end %>
<p>タイトル</p>
<h1><%= @event.title %></h1>

<p>予定日</p>
<h3><%= @event.date %></h3>

<p>予定時</p>
<h3><%= @event.time %></h3>

<p>本文</p>
<h3><%= @event.body %></h3>
