<% if notice %>
	<p><%= notice %></p>
<% end %>
<p>アイコン</p>
<p><%= image_tag @event.event_img.url %></p>

<p>タイトル</p>
<h1><%= @event.title %></h1>

<p>予定日</p>
<h3><%= @event.date %></h3>

<p>予定時</p>
<h3><%= @event.time %></h3>

<p>本文</p>
<h3><%= @event.body %></h3>

<%= link_to "編集", edit_event_path %>

<h2>参加予定ユーザー</h2>
<% @event.joins.map { |f| f.user_prof }.each do |user_prof| %>
  <h4 class="user">
    <span class="user-name">
      <%= link_to user_prof.name, user_prof_path(user_prof.id) %>
    </span>
    <span class="user-id"><%= user_prof.age %></span>
  </h4>
  <div class="event-body">
    <%= user_prof.introduction %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
