<div class="container">
<% if notice %>
	<p><%= notice %></p>
<% end %>
<p>本文</p>
<p><%= image_tag @place.place_img.url %></p>
<h3><%= @place.name %></h3>
<h3><%= @place.url %></h3>
<h3><%= @place.price %></h3>
</div>
