<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
  </head>
  <div id="wrap-all">
    <body>
      <header id="position-header" class="back-orange flex-left">
        <nav>

          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
          <% if user_signed_in? %>

            <!-- リンク先をcurrent_user.idに統一するために定義 -->
            <% id = current_user.id %>

            <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
            <!-- *_path はUserモデルを作成したときに、
              deviseにより自動で作成されてますので、rake routesで確認できます -->
            <%= link_to "HOME", root_path %>
            <%= link_to "勉強会", events_path %>
            <%= link_to "カフェ一覧", places_path %>

            <%= link_to 'マイページ', user_prof_path(current_user) %>
            <%= link_to "user一覧", user_profs_path %>
            <%= link_to "プロフィール変更", edit_user_prof_path(id) %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </nav>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="wrap">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/bxslider/4.2.5/jquery.bxslider.js' %>
  </body>
</html>
